<main id="particles-js">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <p class="regards">Hey...</p>
        <p class="regards">I'm Bakir</p>
          <div class="row">
            <div class="col-6">
              <div class="software">
                <mat-icon  class="program-icon" fontIcon="desktop_mac"></mat-icon>
                <div class="description software">
                  <span class="software-development">Software Development</span><br>
                  <span class="tag">C#</span>
                  <span class="tag">ASP.NET</span>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="software">
                <mat-icon  class="program-icon" fontIcon="code"></mat-icon>
                <div class="description software">
                  <span class="software-development">Frontend Development</span><br>
                  <span class="tag">Angular</span>
                </div>
              </div>
            </div>
            <div class="col-12">
              <button mat-flat-button class="mt-4 btn-color"><a class="mailto" href="mailto:bakir.malkoc@gmail.com">CONTACT ME</a> </button>
            </div>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="mee">
          <img src="assets/programer.png" alt="">
        </div>
      </div>
    </div>
  </div>
 
</main>

